{% extends "base.html" %}

    <!-- Head-->
{% block head %}
    <title>ChatXm</title>
{% endblock %}

    <!--Conteudo da tag <body>-->
    {% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <!-- Sidebar -->
            <div id="sidebar" class="col-md-3 col-lg-2 sidebar">
                <div class="header">
                    <a href="{{ url_for('chat.home') }}" class="logo-container">
                        <img src="{{ url_for('static', filename='img/app/logo.png') }}" width="70" class="logo" alt="Logo"></a>
                </div>
                <div class="nav-icons">
                    <a href="#" class="nav-icon active" data-target="all-messages" title="Todas Messagens">
                        <i class="fas fa-inbox"></i>
                    </a>
                    <a href="#" class="nav-icon" data-target="contacts" title="Contactos">
                        <i class="fas fa-address-book"></i>
                    </a>
                    <a href="#" class="nav-icon" data-target="blocked" title="Bloqueados">
                        <i class="fas fa-archive"></i>
                    </a>
                    <a href="#" class="nav-icon" data-target="group" title="Grupos">
                        <i class="fas fa-users"></i>
                    </a>
                </div>
                <!-- Pesquisa de usuarios -->
                <div class="search-container">
                    <form class="search-form">
                        <input type="text" class="form-control search-input" placeholder="Pesquisar contactos">
                        <button type="submit" class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <!-- Listar Todas as conversas -->
                <div id="all-messages" class="chat-list active">
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/avatar1.png') }}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>John Doe <small><i class="fas fa-circle text-success"></i>online</small>
</h6>
                            <small class="text-dark">Hey, how's it going?</small>
                        </div>
                    </div>
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/avatar1.png') }}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>John Doe <small><i class="fas fa-circle text-success"></i>online</small>
</h6>
                            <small class="text-dark">Hey, how's it going?</small>
                        </div>
                    </div>
                </div>
                <!-- Listar Todos os usuarios -->
                <div id="contacts" class="chat-list">
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/avatar1.png') }}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>Nome do usuario <small><i class="fas fa-circle text-success"></i>online</small></h6>
                            <small class="text-dark">Project Manager</small>
                        </div>
                    </div>
                    
                </div>
                <!-- Lista contactos bloqueados aqui -->
                <div id="blocked" class="chat-list">
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/avatar1.png') }}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>Nome contacto bloqueado</h6>
                            <small class="text-dark">Last message: 2 weeks ago</small>
                        </div>
                    </div>
                </div>
                <!-- Listar todos os grupos -->
                <div id="group" class="chat-list">
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/avatar1.png') }}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>Nome do grupo</h6>
                        </div>
                    </div>
                </div>
                
                <!-- User Profile -->
                <div class="user-profile">
                    <img src="{{ url_for('static', filename='img/usuarios/' ~ session['imagem_usuario']) }}" alt="User Avatar" class="user-avatar">
                    <span class="user-name">{{session['nome_usuario']}}</span>
                    <i class="fas fa-chevron-up"></i>
                    <div class="user-menu">
                        <a href="{{ url_for('usuarios.ver_perfil', usuario_id=session['id_usuario']) }}" class="menu-item">Perfil</a>
                        <a href="#" class="menu-item">Configurações</a>
                        <form action="{{ url_for('usuarios.logout') }}" method="POST" style="display: inline;">
                            <button type="submit" class="menu-item btn-link w-100">Sair</button>
                        </form>
                    </div>
                </div>
                
            </div>
            <!-- Main Content -->
            <div class="col-md-9 col-lg-10" id="main-content">
                <div class="chat-header d-flex align-items-center bg-success">
                    <button id="sidebar-toggle" class="btn btn-light d-md-none mr-3">
                        <i class="fas fa-bars"></i>
                    </button>
                    
                    <div class=" ">
                        <i class="fas fa-search mx-2"></i>
                        <i class="fas fa-phone mx-2"></i>
                        <i class="fas fa-video mx-2"></i>
                        <i class="fas fa-ellipsis-v mx-2"></i>
                    </div>
                </div>
                <div class="chat-body">
                    <div class="  d-flex justify-content-center align-items-center  " style="min-height: 100vh;">
                        <img src="{{ url_for('static', filename='img/app/logo.png') }}" class="w-50" alt="logo">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    {% endblock %}

    <!--Arquivos Javascript-->
    {% block scriptJS %}
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebarScript.js') }}"></script>
    
    <script>
    // Função para listar conversas
    function listarConversas() {
    $.ajax({
        url: "{{ url_for('chat.listar_conversas') }}",
        method: 'GET',
        success: function(response) {
            $('#all-messages').empty();
            response.forEach(function(item) {
                // Define a classe para o status online ou offline
                let statusClass = item.status === 'online' ? 'text-success' : 'text-danger';

                $('#all-messages').append(`
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/') }}${item.foto_perfil}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>${item.nome_usuario} <small><i class="fas fa-circle ${statusClass}"></i> ${item.status}</small></h6>
                            <small class="text-dark">${item.mensagem}</small>
                        </div>
                    </div>
                `);
            });
        }
    });
}
    
    // Função para listar todos os usuários
    function listarUsuarios() {
        $.ajax({
            url: "{{ url_for('chat.listar_usuarios') }}",
            method: 'GET',
            success: function(response) {
                $('#contacts').empty();
                response.forEach(function(item) {
                    // Define a classe para o status online ou offline
                let statusClass = item.status === 'online' ? 'text-success' : 'text-danger';
                
                    $('#contacts').append(`
                        <div class="chat-user">
                            <img src="{{ url_for('static', filename='img/usuarios/') }}${item.foto_perfil}" class="rounded-circle" alt="User Image">
                            <div class="chat-info">
                                <h6>${item.nome_usuario} <small><i class="fas fa-circle ${statusClass}"></i> ${item.status}</small></h6>
                            </div>
                        </div>
                    `);
                });
            }
        });
    }
    
    // Função para listar usuários bloqueados
    function listarBloqueados() {
        $.ajax({
            url: "{{ url_for('chat.listar_bloqueados') }}",
            method: 'GET',
            success: function(response) {
                $('#blocked').empty();
                response.forEach(function(item) {
                    $('#blocked').append(`
                        <div class="chat-user">
                            <img src="{{ url_for('static', filename='img/usuarios/') }}${item.foto_perfil}" class="rounded-circle" alt="User Image">
                            <div class="chat-info">
                                <h6>${item.nome_usuario}</h6>
                            </div>
                        </div>
                    `);
                });
            }
        });
    }
    
    // Função para listar grupos
    function listarGrupos() {
        $.ajax({
            url: "{{ url_for('chat.listar_grupos') }}",
            method: 'GET',
            success: function(response) {
                $('#group').empty();
                response.forEach(function(item) {
                    $('#group').append(`
                        <div class="chat-user">
                            <img src="{{ url_for('static', filename='img/usuarios/') }}${item.foto_grupo}" class="rounded-circle" alt="User Image">
                            <div class="chat-info">
                                <h6>${item.nome_grupo}</h6>
                            </div>
                        </div>
                    `);
                });
            }
        });
    }
    
    // Atualizar listas a cada 5 segundos
    setInterval(function() {
        listarConversas();
        listarUsuarios();
        listarBloqueados();
        listarGrupos();
    }, 5000);
    
    // Carregar listas ao carregar a página
    $(document).ready(function() {
        listarConversas();
        listarUsuarios();
        listarBloqueados();
        listarGrupos();
    });
    </script>
    {% endblock %}
    
