{% extends "base.html" %}

    <!-- Head-->
{% block head %}
    <title>ChatXm</title>
{% endblock %}

    <!--Conteudo da tag <body>-->
    {% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <!-- Sidebar -->
            <div id="sidebar" class="col-md-3 col-lg-2 sidebar">
                <div class="header">
                    <a href="{{ url_for('chat.home') }}" class="logo-container">
                        <img src="{{ url_for('static', filename='img/app/logo.png') }}" width="70" class="logo" alt="Logo"></a>
                </div>
                <div class="nav-icons">
                    <a href="#" class="nav-icon active" data-target="all-messages" title="All Messages">
                        <i class="fas fa-inbox"></i>
                    </a>
                    <a href="#" class="nav-icon" data-target="contacts" title="Contacts">
                        <i class="fas fa-address-book"></i>
                    </a>
                    <a href="#" class="nav-icon" data-target="archived" title="Archived">
                        <i class="fas fa-archive"></i>
                    </a>
                    <a href="#" class="nav-icon" data-target="bin" title="Bin">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
                <!-- Pesquisa de contactos -->
                <div class="search-container">
                    <form class="search-form">
                        <input type="text" class="form-control search-input" placeholder="Pesquisar contactos">
                        <button type="submit" class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <div id="all-messages" class="chat-list active">
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/avatar1.png') }}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>John Doe <small><i class="fas fa-circle text-success"></i></small>
</h6>
                            <small class="text-dark">Hey, how's it going?</small>
                        </div>
                    </div>
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/avatar1.png') }}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>John Doe <small><i class="fas fa-circle text-success"></i></small>
</h6>
                            <small class="text-dark">Hey, how's it going?</small>
                        </div>
                    </div>
                </div>
                <div id="contacts" class="chat-list">
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/avatar1.png') }}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>Alice Johnson</h6>
                            <small class="text-dark">Project Manager</small>
                        </div>
                    </div>
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/avatar1.png') }}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>Bob Wilson</h6>
                            <small class="text-dark">Developer</small>
                        </div>
                    </div>
                </div>
                <div id="archived" class="chat-list">
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/avatar1.png') }}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>Carol Taylor</h6>
                            <small class="text-dark">Last message: 2 weeks ago</small>
                        </div>
                    </div>
                </div>
                <div id="bin" class="chat-list">
                    <div class="chat-user">
                        <img src="{{ url_for('static', filename='img/usuarios/avatar1.png') }}" class="rounded-circle" alt="User Image">
                        <div class="chat-info">
                            <h6>David Brown</h6>
                            <small class="text-dark">Deleted: Yesterday</small>
                        </div>
                    </div>
                </div>
                
                <!-- User Profile -->
                <div class="user-profile">
                    <img src="{{ url_for('static', filename='img/usuarios/' ~ session['imagem_usuario']) }}" alt="User Avatar" class="user-avatar">
                    <span class="user-name">{{session['nome_usuario']}}</span>
                    <i class="fas fa-chevron-up"></i>
                    <div class="user-menu">
                        <a href="{{ url_for('usuarios.ver_perfil', usuario_id=session['id_usuario']) }}" class="menu-item">Perfil</a>
                        <a href="#" class="menu-item">Configurações</a>
                        <form action="{{ url_for('usuarios.logout') }}" method="POST" style="display: inline;">
                            <button type="submit" class="menu-item btn-link w-100">Sair</button>
                        </form>
                    </div>
                </div>
                
            </div>
            <!-- Main Content -->
            <div class="col-md-9 col-lg-10" id="main-content">
                <div class="chat-header d-flex align-items-center bg-success">
                    <button id="sidebar-toggle" class="btn btn-light d-md-none mr-3">
                        <i class="fas fa-bars"></i>
                    </button>
                    
                    <div class=" ">
                        <i class="fas fa-search mx-2"></i>
                        <i class="fas fa-phone mx-2"></i>
                        <i class="fas fa-video mx-2"></i>
                        <i class="fas fa-ellipsis-v mx-2"></i>
                    </div>
                </div>
                <div class="chat-body">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img src="{{ url_for('static', filename='img/usuarios/' ~ usuario.foto_perfil) }}" class="rounded-circle mb-3" alt="User Avatar" width="150">
                                        <h5 class="card-title">{{ usuario.nome_usuario }}</h5>
                                        <!--<p class="text-muted">Coach</p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div><strong>Nome:</strong> <span>{{ usuario.nome_usuario }}</span></div>
                                        <div><strong>Email:</strong> <span>{{ usuario.email }}</span></div>
                                        <div><strong>Telefone:</strong> <span>{{ usuario.numero_telefone }}</span></div>

                                        {% if session.get('id_usuario') == usuario.id_usuario %}
                                        <div class="mt-5">
                                            <form class="d-inline" action="{{ url_for('usuarios.remover_usuario') }}" method="POST">
                                                <button type="submit" class="btn btn-danger btn-sm">Eliminar Conta</button>
                                            </form>
                                            <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditarUsuario">
                                                Editar Usuario
                                            </button>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5>Sobre</h5>
                                        <p>Edith is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Modal Editar Usuario-->
    {% include 'modalEditarUsuario.html' %}
    
    {% endblock %}

    <!--Arquivos Javascript-->
    {% block scriptJS %}

    
    {% endblock %}



